*,
*::after,
*::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}


/* font-family: 'Caveat', cursive;
font-family: 'Quattrocento', serif;
font-family: 'Raleway', sans-serif; */

body {
    background-color: #f0f3f1;
}

.container {
    max-width: 1200px;
    padding: 0px 15px;
    margin: 0 auto;
}


/* Header 
==============*/

.header {
    padding: 20px 0;
}

.header__top {
    display: flex;
    justify-content: space-between;
}

.header__top-column {
    flex: 33.333%;
    text-align: center;
}

.header__top-column-phone {
    display: block;
    text-align: left;
    font-family: 'Quattrocento', serif;
    /* font-family: 'Raleway', sans-serif;
    font-feature-settings: "lnum"; */
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    position: relative;
    padding-left: 28px;
}

.header__top-column-phone::before {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    background-image: url(../img/phone-icon.png);
    width: 22px;
    height: 22px;
    margin-right: 6px;
    margin-top: -2px;
}

.header__top-column-lang {
    display: block;
    text-align: right;
}

.header__top-logo {
    text-align: center;
    height: 173px;
}

.header__top-logo img {
    height: 100%;
}


/* menu 
==============*/

.menu {
    margin: 40px 0 20px 0;
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 20px;
    letter-spacing: 2px;
    color: #161A1D;
    text-transform: uppercase;
}

.menu__list {
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu__list-item {
    margin: 0 10px;
    position: relative;
}

.menu__list-item:after {
    display: block;
    position: absolute;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #000000;
    content: "";
    transition: width 0.3s ease-out;
}

.menu__list-item:hover:after,
.menu__list-item:focus:after {
    width: 100%;
}


/* slider 
==============*/

.swiper-slide img {
    width: 100%;
}

.swiper-slide {
    text-align: center;
}

.swiper-button-next,
.swiper-button-prev {
    display: none;
    padding: 0;
    margin: 0;
}


/* Welcome 
==============*/

.welcome {
    margin-top: 100px;
    text-align: center;
    font-family: 'Caveat', cursive;
}

.welcome__subtitle {
    font-style: normal;
    font-weight: normal;
    font-size: 43px;
    line-height: 54px;
    letter-spacing: 2px;
    color: #733315;
}

.welcome__title {
    margin-top: 5px;
    font-family: 'Quattrocento', serif;
    font-style: normal;
    font-weight: normal;
    font-size: 53px;
    line-height: 59px;
    letter-spacing: 2px;
    color: #161A1D;
}

.welcome__text {
    margin: 0 auto;
    margin-top: 20px;
    max-width: 740px;
    font-weight: 400;
    font-size: 25px;
    line-height: 28px;
    color: #733315;
}


/* Cakes
==============*/

.cakes {
    margin-top: 130px;
}

.cakes__inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}

.shop__item {
    flex: 0 1 33.3333%;
    margin-bottom: 100px;
    padding: 0 15px;
}

.cakes__img {
    height: 330px;
    width: 360px;
    transition: all .5s ease;
    position: relative;
}

.cakes__img:hover {
    transform: scale(1.1) rotate(4deg);
    opacity: 0.5;
}

.cakes__title {
    max-width: 280px;
    margin: 0 auto;
    margin-top: 30px;
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    font-size: 25px;
    line-height: 31px;
    color: #161A1D;
}

.cake__price {
    margin-top: 10px;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 22px;
    color: #733315;
}

.title {
    margin-top: 20px;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    font-size: 40px;
    line-height: 45px;
    letter-spacing: 2px;
    color: #161A1D;
}

.text {
    max-width: 740px;
    margin: 0 auto;
    margin-top: 35px;
    font-family: 'Caveat', cursive;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 28px;
    text-align: center;
    letter-spacing: 2px;
    color: #733315;
}


/* coffee
==============*/

.coffee {
    margin-top: 100px;
    margin-bottom: 50px;
}

.coffee__inner {
    color: #fff;
    margin-top: 100px;
    display: flex;
    height: 500px;
}

.coffee__item {
    font-family: 'Quattrocento', serif;
    font-size: 20px;
    padding: 10px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.img-1 {
    flex: 0 1 50%;
    background-image: url(../img/coffee/a.jpg);
}

.img-2 {
    flex: 0 1 25%;
    background-image: url(../img/coffee/b.jpg);
}

.coffee__wrapper {
    display: flex;
    flex-direction: column;
    flex: 0 1 25%;
}

.img-3 {
    height: 250px;
    background-image: url(../img/coffee/c.jpg);
}

.img-4 {
    height: 250px;
    background-image: url(../img/coffee/d.jpg);
}


/* order
==============*/

.order {
    margin-top: 100px;
}


/* gallery
==============*/


/* footer
==============*/

.footer {
    margin-top: 50px;
    background: rgba(214, 212, 212, 0.79);
    padding: 30px 0 30px 0;
}

.footer__inner {
    display: flex;
}

.footer__inner-column {
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    line-height: 25px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    flex: 33.333%
}

.footer__inner-column h3 {
    margin-bottom: 20px;
}

.footer-logo {
    text-align: center;
    height: 173px;
}

.footer-logo img {
    height: 100%;
}

.footer-address {
    position: relative;
}

.footer-address::before {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    background-image: url(../img/home.png);
    background-size: cover;
    width: 20px;
    height: 20px;
    margin-left: -30px;
}

.footer-phone {
    position: relative;
}

.footer-phone::before {
    position: absolute;
    top: 2px;
    left: 2px;
    content: "";
    background-image: url(../img/phone-icon.png);
    background-size: cover;
    width: 20px;
    height: 20px;
    margin-left: -30px;
}